@import 'package/typist';
@import 'home/landing', 'global/navigation', 'global/toggle';
@import 'variables'; 

// $color-1: #f2f2f2;
// $color-2: #1F2023;
// @include colors($color-1, $color-2);

body {
    background: $primary-color;
    color: $secondary-color;
    margin-bottom: 90px;
    &.dark {
      background: $dark-primary-color;
      color: $dark-secondary-color;
    }
  }
