@import 'package/typist';
@import 'home/landing', 'global/navigation', 'global/toggle';
body {
    background: #FAFAFA;
    color: #1F2023;
  
    &.dark {
      background: #1F2023;
      color: #EFEFEF;
    }
  }
