@import 'package/typist';
// @import 'package/toggle';

body {
    background: #FAFAFA;
    color: #1F2023;
  
    &.dark {
      background: #1F2023;
      color: #EFEFEF;
    }
  }
button {
    padding: 1rem;
    background: green;
    color: white;

}
