@import 'tailwindcss/base';;
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.icon {
		@apply m-auto text-xl
	}
}

/* switch styles edited from https://codepen.io/mburnette/pen/LxNxNg */
#switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
}

.dm-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 16px;
	background: rgb(43, 73, 104);
	display: block;
	border-radius: 100px;
	position: relative;
}

.dm-label:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + .dm-label {
	background: #cdd8e9;
}

#switch:checked + .dm-label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

.dm-label:active:after {
	width: 16px;
}

/* landing bug fix */

.landing {
	height: calc((var(--vh, 1vh) * 100) - 140px);
}

/* project toggle */
label {
	cursor: pointer;
}
input[type=radio]:checked + label{
	background-color: cornflowerblue;
	color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


input:not(:checked) + label {
	background: opacity(0%);
	box-shadow: none;
}

input[type=radio] + label {
	transition: all .3s;
}

/* site card pulse */
.pulse {
	animation: pulse 1.2s ease infinite;
	background: blue;
  }

  @keyframes pulse {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  opacity: 0.3;
	}
	100% {
	  transform: scale(1.5);
	  opacity: 0;
	}
  }