@import 'tailwindcss/base';;
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.icon {
		@apply m-auto text-xl
	}
}

/* switch styles edited from https://codepen.io/mburnette/pen/LxNxNg */
#switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
}

.dm-label {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 16px;
	background: rgb(43, 73, 104);
	display: block;
	border-radius: 100px;
	position: relative;
}

.dm-label:after {
	content: '';
	position: absolute;
	top: -1px;
	left: 0px;
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + .dm-label {
	background: #cdd8e9;
}

#switch:checked + .dm-label:after {
	left: calc(100%);
	transform: translateX(-100%);
}

.dm-label:active:after {
	width: 16px;
}

/* landing bug fix */

.landing {
	height: calc((var(--vh, 1vh) * 100) - 140px);
}

/* html, body, #root {
	min-height: 100%;
} */