@import '../variables';

.landing {
    height: 85vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //secondary nav styles
    .homescroll-nav {
        position: fixed;
        bottom: 100px;
        right: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .circle {
            margin: 0.25rem 0;
            height: 30px;
            width: 30px;
            border: solid 2px;
            text-decoration: none;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
        }
    }
    
    .landing-main {
        margin: 0 2rem;
        overflow: hidden;
    }

    .next-arrow {
        font-size: 3rem;
        text-align: center;
        justify-content: flex-end;
        .arrow-link {
            padding: 2rem;
        }
    }
}